{% extends "base.html" %} {% block title %}Chat{% endblock %} {% block
page_title %}Chat Room: {{ room_name }}{% endblock %} {% block content %}
<div class="chat-container">
  <div class="chat-sidebar">
    <h3>Chat Rooms</h3>
    <ul>
      {% for room in rooms %}
      <li class="chat-room-item">
        <a href="/chat/{{ room.room_name }}" class="chat-room-link"
          >{{ room.room_name }}</a
        >
        <form method="post" action="/delete_room" style="display: inline">
          <input type="hidden" name="room_name" value="{{ room.room_name }}" />
          <button type="submit" class="btn-delete">Delete</button>
        </form>
      </li>
      {% endfor %}
    </ul>

    <!-- Добавляем форму для создания новой комнаты -->
    <form method="post" action="/create_room" class="create-room-form">
      <input
        type="text"
        name="room_name"
        placeholder="Enter room name"
        required
      />
      <button type="submit" class="btn">Create Room</button>
    </form>
  </div>

  <div class="chat-main">
    <div class="chat-messages" id="chat-messages">
      {% for message in history %}
      <div class="chat-message user-message">
        <strong>You:</strong> {{ message.user_message }}
      </div>
      <div class="chat-message bot-message">
        <strong>GPT:</strong> {{ message.bot_response | safe }}
      </div>
      {% endfor %}
    </div>

    <!-- Анимация загрузки -->
    <div id="loading-spinner" style="display: none">
      <div class="spinner"></div>
      <p>Loading...</p>
    </div>

    <form
      method="post"
      action="/chat/{{ room_name }}"
      class="chat-form"
      onsubmit="disableSubmitButton()"
    >
      <input
        type="text"
        name="message"
        id="user-message"
        placeholder="Type your message..."
        class="form-input"
        required
      />
      <button type="submit" id="submit-btn" class="btn">Send</button>
    </form>
  </div>
</div>

<script>
  function disableSubmitButton() {
    document.getElementById("submit-btn").disabled = true;
    document.getElementById("loading-spinner").style.display = "flex";

    const userMessage = document.getElementById("user-message").value;
    const messagesDiv = document.getElementById("chat-messages");
    const userMessageDiv = document.createElement("div");
    userMessageDiv.classList.add("chat-message", "user-message");
    userMessageDiv.innerHTML = `<strong>You:</strong> ${userMessage}`;
    messagesDiv.appendChild(userMessageDiv);

    messagesDiv.scrollTop = messagesDiv.scrollHeight;
  }

  window.onload = function () {
    const chatMessages = document.getElementById("chat-messages");
    chatMessages.scrollTop = chatMessages.scrollHeight;
  };
</script>
{% endblock %}
