<!doctype html>
<html>
  <head>
    <title>Job Listings</title>
  </head>
  <body>
    <h1>Job Listings</h1>

    <!-- Кнопки для сортировки -->
    <div>
      <h3>Sort by:</h3>
      <a
        href="/vacancies?sort_by=Date Posted&order={{ 'asc' if order == 'desc' else 'desc' }}"
        ><button>
          Sort by Date ({{ 'Oldest' if order == 'desc' else 'Newest' }})
        </button></a
      >
      <a
        href="/vacancies?sort_by=Job Title&order={{ 'asc' if sort_by == 'Job Title' and order == 'desc' else 'desc' }}"
        ><button>Sort by Job Title</button></a
      >
      <a
        href="/vacancies?sort_by=Salary&order={{ 'asc' if sort_by == 'Salary' and order == 'desc' else 'desc' }}"
        ><button>Sort by Salary</button></a
      >
      <a href="/vacancies"><button>Reset Sort</button></a>
    </div>

    <!-- Пагинация -->
    <div class="pagination">
      <p>Page {{ page }} of {{ total_pages }}</p>
      <div>
        {% if page > 1 %}
        <a
          href="/vacancies?sort_by={{ sort_by }}&order={{ order }}&page={{ page - 1 }}&page_size={{ page_size }}"
          ><button>Previous</button></a
        >
        {% endif %} {% if page < total_pages %}
        <a
          href="/vacancies?sort_by={{ sort_by }}&order={{ order }}&page={{ page + 1 }}&page_size={{ page_size }}"
          ><button>Next</button></a
        >
        {% endif %}
      </div>
    </div>

    <!-- Отображение записей -->
    {% for record in records %}
    <div>
      <p>
        <strong>Date Posted:</strong> {{ record['Date
        Posted'].strftime('%d.%m.%Y') }}
      </p>
      <p><strong>Job Title:</strong> {{ record['Job Title'] }}</p>
      <p><strong>Company Name:</strong> {{ record['Company Name'] }}</p>
      <p><strong>Salary:</strong> {{ record['Salary'] }}</p>
      <p><strong>Location:</strong> {{ record['Location'] }}</p>
      <p><strong>Full Description:</strong> {{ record['Full Description'] }}</p>
    </div>
    {% endfor %}
  </body>
</html>
